.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 0px;
  margin: 0px;
  transition-duration: 0.5s;
}

.footer__column-link:hover {
  opacity: 0.5;
}
