.br {
  border: 1px solid red;
}

.techniques {
  width: 80%;
  margin: 100px auto;

}

.cards {
  width: 920px;
  display: flex;
  justify-content: flex-starts;
  flex-wrap: wrap;
  margin: 0 auto 0;
  padding: 0px;


}

.cards__item {
width: 240px;
padding: 0;
margin-right: 100px;
list-style-type: none;
border: 0px;

}

.cards__item:nth-of-type(3) {
  margin-right: 0px;
}

.cards__image {
  padding: 0;
  margin: 60px 40px 43px ;
  width: 160px;
  height: 160px;
}

.cards__title {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.cards__description{
  padding:0;
  margin: 16px 0 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}





.video__iframes {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}

.video__iframe {
   width: 515px;
   height: 316px;
}

.video__iframe:first-of-type {
 margin-right: 20px;
}












.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  margin: 100px auto 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0px 0px 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-weight: bold;
  font-size: 60px;
  margin: 0 auto 0;
  text-align: center;
}

.section-subtitle {
  font-size: 24px;
  margin: 20px auto 0px;
  width: 60%;
  line-height: 34px;
  text-align: center;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
  padding: 0;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 20px auto 0;
  padding: 0px;
}

.feynman {
  margin: 100px auto 0;
  min-height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  flex-wrap: wrap;
  margin: 100px auto 0;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin: 70px 0 0;
  text-align: center;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-repeat: no-repeat;
  background-position: top 0px right -210px;
}

.section-title_theme_dark {
  margin-top: 90px;
  color: white;
}

.section-subtitle_theme-dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

/* сначала нарисовал, потом увидел готовый в images, жалко удалять 2 часа мучался :)
.triangle {
  width: 0;
	height: 0;
	border-left: 359px solid transparent;
	border-right: 359px solid transparent;
	border-bottom: 570px solid #2f80ed;
  position: absolute;
  top: 0px;
  right: -210px;
  transform: rotate(-10deg);
  z-index: -1;
}*/

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  align-content: stretch;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  color: white;
  margin: 18px 0;
  padding: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 0px;
  color: white;
  margin: 0;
}

.footer__column-links {
  margin: 20px 0px 16px;
  text-decoration: none;
  list-style: none;
  padding: 0px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 0px;
  margin: 0px;
}

.footer__social-icon {
  margin: 0 10px 0 0px;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0px;
}
